<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conductor</title>
    <!-- P5 Load -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/addons/p5.sound.min.js"></script>
    <!-- SocketIO Load -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
    <!-- JQuery Load -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <!-- General Load -->
    <link rel="stylesheet" href="../global.css">
    <link rel="stylesheet" href="./style.css">
    <script defer src="./script.js"></script>
</head>
<body>
    <div class="audioTitle">
        Music for Programming - Cassette #1
    </div>
    <audio id="song1" controls>
        <source src="../music/musicForProgramming-1.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</body>
</html>