body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}
.output{
    float: left;
    width: 50vw;
    height: 50vh;
}
/* iFrame output styling */
iframe{
    border-width: 0;
}

#performersCode{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}
    .codeTile{
        float: left;
        width: 50vw;
        height: 50vh;
        position:relative;
    }
        .idTag{
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: rgba(0,0,0,0.3);
            padding: 1vmin;
        }
    .codeUpdate{
        position: absolute;
        top: 0;
        left: 0;
        padding: 1vmin;
        max-width: 45vw;
        max-height: 45vh;
        font-size: 2vmin;
        font-family: monospace;
        overflow: hidden;
    }

#musicStopped, #preshow, #landing{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vmax;
    font-weight: bold;
    font-family: sans-serif;
    z-index: 3;
}

#landing{
    z-index: 4;
    display: block;
    text-align: center;
    padding-top: 20vh;
}
    #welcome{
        color: lightgrey;
        font-size: 2vmax;
        padding: 1vmin;
    }
    #title{
        padding: 0 10vw;
    }
    #by{
        color: lightgrey;
        font-size: 2vmax;
        padding: 1vmin;
    }
    #enter{
        border: 2px solid lightgrey;
        border-radius: 2vmin;
        color: lightgrey;
        font-size: 2vmax;
        margin: 2vmin;
        padding: 2vmin;
        width: 20vw;
        margin-top: 10vmin;
        margin-left: calc(50vw - 10vw);
        cursor: pointer;
    }

#preshow{
    z-index: 3;
}